body {
  background-color: #f0f0f0;
  font-family: "Proza Libre", sans-serif;
  font-weight: 300;
  line-height: 1;
}

h1 {
  font-weight: 600;
}

h2 {
  background-color: #562b81;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 0.2rem;
}

h3 {
  font-size: small;
  font-weight: 400;
}

img {
  width: 100%;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
}

.p-entries {
  text-align: center;
  font-size: large;
}

.entry-image {
  object-fit: cover;
  width: 50%;
}

.href-entries-list {
  color: white;
  background-color: #562b81;
  padding: 0.5rem, 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

.href-new-entries {
  background-color: #562b81;
  color: white;
  padding-top: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: default;
}

textarea {
  resize: none;
}

label {
  margin-bottom: -1.5rem;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #b6b6b6;
  font-family: "Proza Libre", sans-serif;
}

form,
button,
input,
textarea {
  border-radius: 0.25rem;
}

label,
input {
  padding-top: 8px;
  padding-bottom: 8px;
}

.button {
  text-align: right;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

button {
  color: white;
  background-color: #562b81;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.display-inline {
  display: inline-block;
}

.row-background {
  background-color: #562b81;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.fa {
  font-size: 1.5rem;
  padding-top: 1rem;
  color: #562b81;
}

i:hover {
  cursor: pointer;
}
